---
- name: Install base system dependencies (Fedora)
  dnf:
    name:
      - sway
      - swaylock
      - swayidle
      - waybar
      - python3
      - ImageMagick  # for blurring lock screen wallpaper
      - brightnessctl  # for laptop brightness control
      - playerctl  # for media controls
      - grim  # screenshot tool
      - slurp  # region selector for screenshots
      - wf-recorder  # screen recording
      - wl-clipboard  # clipboard utilities
      - mako  # notification daemon (alternative to dunst)
      - git
      - fontawesome-fonts
      - gnome-themes-extra
    state: present
  when:
    - ansible_facts['distribution'] == 'Fedora'
    - system_pkg_mgr in dnf_like_pkg_mgrs
  become: true

- name: Layer base system dependencies (rpm-ostree)
  community.general.rpm_ostree_pkg:
    name:
      - sway
      - swaylock
      - swayidle
      - waybar
      - python3
      - ImageMagick
      - brightnessctl
      - playerctl
      - grim
      - slurp
      - wf-recorder
      - wl-clipboard
      - mako
      - git
      - fontawesome-fonts
      - gnome-themes-extra
    state: present
  when:
    - ansible_facts['distribution'] == 'Fedora'
    - system_pkg_mgr in rpm_ostree_like_pkg_mgrs
  become: true

- name: Install base system dependencies (Debian/Ubuntu)
  apt:
    name:
      - sway
      - swaylock
      - swayidle
      - waybar
      - python3
      - imagemagick
      - brightnessctl
      - playerctl
      - grim
      - slurp
      - wf-recorder
      - wl-clipboard
      - mako-notifier
      - git
      - fonts-font-awesome
      - gnome-themes-extra
    state: present
    update_cache: yes
  when: ansible_facts['distribution'] in ['Debian', 'Ubuntu']
  become: true

- name: Install base system dependencies (openSUSE)
  zypper:
    name:
      - sway
      - swaylock
      - swayidle
      - waybar
      - python3
      - ImageMagick
      - brightnessctl
      - playerctl
      - grim
      - slurp
      - wf-recorder
      - wl-clipboard
      - mako
      - git
      - fontawesome-fonts
      - gnome-themes-extra
    state: present
    update_cache: yes
  when: ansible_facts['os_family'] == 'Suse'
  become: true

- name: Install base system dependencies (Arch)
  pacman:
    name:
      - sway
      - swaylock
      - swayidle
      - waybar
      - python
      - imagemagick
      - brightnessctl
      - playerctl
      - grim
      - slurp
      - wf-recorder
      - wl-clipboard
      - mako
      - git
      - ttf-font-awesome
      - gnome-themes-extra
    state: present
  when: ansible_facts['distribution'] == 'Archlinux'
  become: true
